body {
  background-color: #4c4c4c;
}
// -------------------------- login form ------------------------------------------
.login-form {
	display: block;
	position: relative;
	max-width: 450px;
	border-radius: 4px;
	// box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
	margin: 120px auto;
}

.login-reg.login-form{
  width: 800px;
}

.log-out-button {
	color: #f5222d;
	&:hover {
		color: #f5222d;
		opacity: 0.7;
	}
}

.content-portal-admin {
	padding: 15px;
	background: white;
	min-height: 400px;
}

.new-btn-pages {
	margin-bottom: 15px;
}

.spin-loader-modal {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	background: #000c1757;
	margin-top: -24px;
	margin-left: -24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ant-table-row-level-0 {
	background: white !important;
}

[class*=ant-table-row-level-] {
	background: #9caebf57;
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
  visibility: hidden;
}

.row-dragging .drag-visible {
  visibility: visible;
}